body, html {
  background: black;
  color: #fff;
  font-family: Arial;
  display: flex;
  justify-content: end;
  align-items: center;
  /*text-align: center;
  align-content:center;*/
  flex-direction: column;
  width: 100vw;
  height: 100%;
  user-select: none;
  touch-action: manipulation;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="range"]{
  outline: none;
  background: none;
  border: none;

  accent-color: white;
}
#freq{
  background: #000;
  border: solid 2px #fff;
  outline:none;
  color: #FFF;
  font-size: 50pt;
  width:5in;
  height:auto;
  border-radius: 9999px;
  text-align: center;
  display: inline;

  font-family: 'Courier New', Courier, monospace;
}
.smallButton{
  height: 60pt;
  width: 60pt;
  outline: none;
  border: solid white 2px;
  background: #000;
  color: #fff;
  border-radius: 999px;
  font-size: 35pt;
}
body > div > div > button.smallbutton{
  margin: 0 5pt;
}
.smallButton:hover{
  background: #222;
}
.smallButton:active{
  background: #555;
}
#playpause{
  width: 2in;
  height: 2in;
  background: white;
  border-radius: 50%;
  outline:none;
  border: none;
  display: block;
  margin: 0 10pt;
}
#playpause:hover{
  background: #aaa;
}
#playpause:active{
  background: #555;
} 
#playpause img{
  width: 50%;
  height: 50%;
}


#waves{
  margin:0;
  padding:0;
  border:none;
  outline: none;
}

#waves input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#waves input + img{
  cursor: pointer;
}

#waves > label:has(input:checked){
  background: #555;
}
#waves label:hover{
  background: #222;
}
#waves img{
  width: calc( 100% * (3/5) );
  height: calc( 100% * (3/5) );
}

#waves label{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50pt;
  height: 50pt;
  border: 1px solid #fff;
  border-radius: 999px;
}



















/*https://www.quirksmode.org/blog/archives/2015/11/styling_and_scr.html*/
input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: calc( 120pt + 5in );
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track{
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #000000;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb,
input[type=range]::-ms-thumb{
  border: 1px solid #808080;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #808080;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8.5px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper,
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 100px;
}
